@{
    ViewBag.Title = "About";
}

<div class="main">
    <div class="container">
        <div class="listing_page_container">
            <h2>@ViewBag.Title.</h2>
            <hr />
            <h3>@ViewBag.Message</h3>
            <p>We are a company formed by 4 partners located in Montreal, we are in the market for more than 5 years. We are reference in the rental market for offer hight quality apartments for rent..</p>
            <p>We are the owners of the branch Mari Marques.</p>
            <p>We want to become the biggest rental company in short term and be between the 10 biggest companies in North America. </p>
            <p>Our Mission is provide high quality systems to facilitate our customer’s expirience.</p>
            <h2>Our President</h2>
            <img src="/Images/perfil.png"/>
        </div>
    </div>
</div>