@{
    ViewBag.Title = "Home Page";
}

<section id="search" class="jumbotron text-center">
    <div class="container">
        <p class="text-capitalize">Find the perfect apartment for you. @Html.ActionLink("View Properties >", "Show", "Apartments")</p>
    </div>
</section>